<tr>
  <td>Full Name</td>
  <td>Completed Lesson Count</td>
  <td>Total Lessons Count</td>
  <td>Email</td>
  <th>Project 1</th>
  <th>Project 2</th>
  <th>Project 3</th>
  <th>Project 4</th>
  <th>Project 5</th>
  <td>Add/Remove</td>
</tr>