<h1><%= @student.full_name %></h1>
<p><%= link_to @student.batch.try(:name), batch_path(@student.batch) %></p>
<%= @student.inspect %>
<%= render partial: 'projects/projects', locals: { projects: @student.projects } %>