<h1>Editing Batch Progress Report</h1>

<%= render 'form', batch_progress_report: @batch_progress_report %>

<%= link_to 'Show', @batch_progress_report %> |
<%= link_to 'Back', batch_progress_reports_path %>
